<div class="span3 alert alert-info">
<h1>__FLIGHT CANCELLATION PREDICTION__</h1>
&nbsp;
&nbsp;

<span style="color: blue; font-family: Babas; font-size: 1.5em;">__The Problem__ 

&nbsp;
&nbsp;

<span style="color: black; font-family: Babas; font-size: 1.2em;">Predicting Cancellation of Domestic Flights in the USA. Flight cancellation is a rare event but a big concern for many people/organization. Because if you have a flight, most probably all other your plans will be based on your arrival to the destination. Assume you have a holiday plan in LA, you booked your hotel, you rented your car, you made a reservation for an activity etc. But when you arrive the EWX airport you released that your flight is cancelled. Then you have to alter all your plans due to this unexpexted rare event . It is needless to say you would have taken necessary precautions if you had known your flightâ€™s cancellation in advance. Definitely there are many factors which may result in those cancellations such as origin and destination airport location, airline company, time of flight etc. In this study we will propose a model to predict flight cancellations for US domestic flights at 20 most used airports in the USA.

&nbsp;
&nbsp;

<span style="color: blue; font-family: Babas; font-size: 1.5em;">__Who Might Care :__

&nbsp;
&nbsp;
<p><span style="color: black; font-family: Babas; font-size: 1.2em;">__a. Travellers :__ Flight cancellations have a huge impact on whoever will have a flight trip, so travellers definitely can care cancellations.
<p>
   
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">__b. Travel Planners :__ Some organization companies like tourism agency make plan for their organizations. For instance they sell cultural/historical or holiday travel package. If their flight cancelled then they may have encounter big problems. In this context, they also care about flight cancellation prediction.</p>

&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">__c. Online Booking Companies :__ Booking.com, Kayak.com, Skyscanner.com are top online flight ticket selling companies. Cancelled flights will defintely affect their business negatively. If they known in advace/ predict cancellations they can inform their customers to take precaution against the problem which may stem from flight cancellation.</p>

&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">__d. Airline Companies :__ Airline companies may suffer from cancellation very much. If they have relatively higher cancellation rates they may have a customer churn problem. In order to avoid this problem they aslo care it.</p>

&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">__e. Hotels :__ Even hotels, espacially located nearby airports (destination) may be affected by cancelled flights. They may show interest on predicting cancelled flighs. </p>

&nbsp;
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">All those shareholders may be affected because of flight cancellations. To minimize the negative effect of cancellation by predicting those cancellations we will build some ML algortihms.

&nbsp;
&nbsp;

<span style="color: blue; font-family: Babas; font-size: 1.5em;">__Data Set :__

&nbsp;
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">a. The data has been obtained from the "Bureau of Transportation Statisitcs" (https://www.transtats.bts.gov/DL_SelectFields.asp?Table_ID=236&DB_Short_Name=On-Time.) which allows to download the flight data monthly at a time. This data contains information about flights and their on-time performance, including date of flight, carrier company, origin and destination airports, flight duration, flight distance, delay, cancellation, diversion etc.

&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">b. The dataset has 2798209 observations/rows as well as 110 features/columns.

&nbsp;
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">c. The data seems raw. It has too many missing values in addition to some outliers. 

&nbsp;
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">d. The data is not fictitious but real, and belongs to first half of 2017.

&nbsp;
&nbsp;

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">e. Target Feature is 'Cancelled'. Since it takes 1 for cancelled flights and 0 for non-cancelled flights, so it is binary.

&nbsp;
&nbsp;


<p><span style="color: black; font-family: Babas; font-size: 1.2em;">f. Although the flight cancellations may results from bad weather conditions as well, in this study weather conditions will not be in our scope. 


&nbsp;
&nbsp;

<span style="color: blue; font-family: Babas; font-size: 1.5em;">__Machine Learning Aspect__ 

&nbsp;
&nbsp;   

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">1. We have labeled data and target fetaure is a binary variable so this is a classification problem.

&nbsp;
&nbsp;   
    
<p><span style="color: black; font-family: Babas; font-size: 1.2em;">2. We will use Logistic Regression, K-NN Neighbor, Random Forest, Adaboost and Gradient Bosoting algorithms to solve the problem
    
&nbsp;
&nbsp;   
    
<p><span style="color: black; font-family: Babas; font-size: 1.2em;">3. My dependent feature will be Cancelled column and take 1 for cancelled flights and 0 for non-cancelled flights

&nbsp;
&nbsp;   
    
<p><span style="color: black; font-family: Babas; font-size: 1.2em;">4. My independet features will be Origin Airport __[Origin]__, Destination Airport __[Dest]__, Scheduled Flight Time __[CRSElaspedTime]__, Taxi Out (total time on gateway before taking off) Duration __[TaxiOut]__, what part of the month the flight will occur (first 2 weeks or latter 2 weeks) __[PartOfMonth]__, when the flights occur (weekdays or weekends) __[PartOfWeek]__ and what part of the day (night, daytime or morning hours) __[PartOfDay]__ would the flight happen, Departure Delay Minutes __[DepDelayMinutes]__ and Airline Company __[Carrier]__ in my model. 

&nbsp;
&nbsp;   
    
<p><span style="color: black; font-family: Babas; font-size: 1.2em;">5. I will use 80% of my data as train set and 20% or my data as test set and I will split my data at the very beginnig of my study. All data cleansing preocess and EDA Analysis will be implement on train data set. Test data set will be manipulated with regard to train data set before ML implementation and later it will be used only in ML algorithms to evaluate how our ML models' performance.

&nbsp;
&nbsp;  

<span style="color: blue; font-family: Babas; font-size: 1.5em;">__What are my deliverables? :__

&nbsp;
&nbsp;  

<p><span style="color: black; font-family: Babas; font-size: 1.2em;"> I will complete this project on __Jupiter Notebook__. First I will examine data, then wrangle the data and apply ML algorithms. Hopefully I will have learned the basic concepts of data science (Wrangling, Story Telling (EDA) and ML)

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">a. Data Collection

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">b. Data Wrangling

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">c. EDA (Exploratory Data Analysis)

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">d. Modeling

<p><span style="color: black; font-family: Babas; font-size: 1.2em;">e. Presentation

<div class="alert alert-info">
<h1>IMPORTS</h1>

We will use the standard data science and machine learning libraries: `numpy`, `pandas`, and `scikit-learn`. We also use `matplotlib` and `seaborn` for visualization.

In [513]:
# Pandas and numpy for data manipulation
import pandas as pd
import numpy as np
% pylab inline

# No warnings about setting value on copy of slice
pd.options.mode.chained_assignment = None

# Matplotlib visualization
import matplotlib.pyplot as plt
import matplotlib.colors as colors
from matplotlib.colors import ListedColormap
%matplotlib inline
from pylab import rcParams

# Set default font size
plt.rcParams['font.size'] = 24

# Internal ipython tool for setting figure size
from IPython.core.pylabtools import figsize

# Seaborn for visualization
import seaborn as sns
sns.set(font_scale = 2)

# Splitting data into training and testing
from sklearn.model_selection import train_test_split

## Datetime Process
from datetime import datetime, date, timedelta, time

Populating the interactive namespace from numpy and matplotlib

/Users/serdarbozoglan/anaconda3/lib/python3.6/site-packages/IPython/core/magics/pylab.py:160: UserWarning: pylab import has clobbered these variables: ['datetime', 'colors', 'time']
`%matplotlib` prevents importing * from pylab and numpy
  "\n`%matplotlib` prevents importing * from pylab and numpy"

<div class="span5 alert alert-info">
<h1>SETTING DATAFRAME DISPLAY</h1>

In [422]:
# Display all columns of the dataframe
pd.set_option('display.width', 800)
pd.set_option('display.max_columns', 300)
pd.set_option('display.notebook_repr_html', True)
pd.options.display.max_colwidth = 100

<div class="span5 alert alert-info">
<h1>LOADING DATA</h1>

In [514]:
## Reading file as merged
merged = pd.read_csv('merged_flight_data.csv')

In [515]:
merged.shape

(706981, 47)

In [516]:
merged.head(3)

   Unnamed: 0  Year  Quarter  Month  DayofMonth  DayOfWeek  FlightDate Carrier Origin OriginCityName OriginState Dest DestCityName DestState  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  WheelsOff  WheelsOn  TaxiIn  CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes  ArrDel15  ArrivalDelayGroups ArrTimeBlk  Cancelled CancellationCode  CRSElapsedTime  ActualElapsedTime  AirTime  Distance  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  FirstDepTime  TotalAddGTime  LongestAddGTime                     Company
0           0  2017        1      1          17          2  2017-01-17      AA    CLT  Charlotte, NC          NC  PHX  Phoenix, AZ        AZ        1619   1616.0      -3.0              0.0       0.0                  -1.0  1600-1659     17.0     1633.0    1837.0     5.0        1856   1842.0     -14.0              0.0       0.0                -1.0  1800-1859        0.0              NaN           277.0              266.0    244.0    1773.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  American Airlines Inc.: AA
1           1  2017        1      1          18          3  2017-01-18      AA    CLT  Charlotte, NC          NC  PHX  Phoenix, AZ        AZ        1619   1614.0      -5.0              0.0       0.0                  -1.0  1600-1659     13.0     1627.0    1815.0     6.0        1856   1821.0     -35.0              0.0       0.0                -2.0  1800-1859        0.0              NaN           277.0              247.0    228.0    1773.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  American Airlines Inc.: AA
2           2  2017        1      1          19          4  2017-01-19      AA    CLT  Charlotte, NC          NC  PHX  Phoenix, AZ        AZ        1619   1611.0      -8.0              0.0       0.0                  -1.0  1600-1659     17.0     1628.0    1824.0     2.0        1856   1826.0     -30.0              0.0       0.0                -2.0  1800-1859        0.0              NaN           277.0              255.0    236.0    1773.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  American Airlines Inc.: AA

In [517]:
## Droping an unnecessary very first column 
merged.drop(['Unnamed: 0'], axis=1, inplace=True)

<div class="span5 alert alert-info">
<h1>DATA TYPES AND MISSING VALUES</h1>

In [518]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706981 entries, 0 to 706980
Data columns (total 46 columns):
Year                    706981 non-null int64
Quarter                 706981 non-null int64
Month                   706981 non-null int64
DayofMonth              706981 non-null int64
DayOfWeek               706981 non-null int64
FlightDate              706981 non-null object
Carrier                 706981 non-null object
Origin                  706981 non-null object
OriginCityName          706981 non-null object
OriginState             706981 non-null object
Dest                    706981 non-null object
DestCityName            706981 non-null object
DestState               706981 non-null object
CRSDepTime              706981 non-null int64
DepTime                 698164 non-null float64
DepDelay                698159 non-null float64
DepDelayMinutes         698159 non-null float64
DepDel15                698159 non-null float64
DepartureDelayGroups    698159 non-null float64
DepTimeBlk              706981 non-null object
TaxiOut                 697926 non-null float64
WheelsOff               697926 non-null float64
WheelsOn                697782 non-null float64
TaxiIn                  697782 non-null float64
CRSArrTime              706981 non-null int64
ArrTime                 697782 non-null float64
ArrDelay                696522 non-null float64
ArrDelayMinutes         696522 non-null float64
ArrDel15                696522 non-null float64
ArrivalDelayGroups      696522 non-null float64
ArrTimeBlk              706981 non-null object
Cancelled               706981 non-null float64
CancellationCode        9078 non-null object
CRSElapsedTime          706980 non-null float64
ActualElapsedTime       696522 non-null float64
AirTime                 696522 non-null float64
Distance                706981 non-null float64
CarrierDelay            158913 non-null float64
WeatherDelay            158913 non-null float64
NASDelay                158913 non-null float64
SecurityDelay           158913 non-null float64
LateAircraftDelay       158913 non-null float64
FirstDepTime            4913 non-null float64
TotalAddGTime           4913 non-null float64
LongestAddGTime         4913 non-null float64
Company                 706981 non-null object
dtypes: float64(27), int64(7), object(12)
memory usage: 248.1+ MB

<span style="color: blue; font-family: Babas; font-size: 1.2em;">The **dataframe.info** method is a quick way to assess the data by displaying the data types of each column and the number of non-missing values. When we check, we see that some date informations stored as object(string) in our dataset such as FlightDate so we need to **convert those into correct data type**. Additionally, some columns have missing values. But before handling the missing values we will consider whether relevant column worth to be in our **cancellation prediction analysis** or it is completely irrelevant, if so we will drop them without filling.</span>

In [519]:
listA = list(merged.columns)
listB = list(merged.isnull().sum())
c= round((merged.isnull().sum()/len(merged)*100),2)

dfisNull = pd.DataFrame({'isNullNo':listB,'isnullRatio':c, 'Value_Counts':[merged[col].nunique() for col in merged.columns],
                        'Type':[merged[col].dtypes for col in merged.columns]})

dfisNull.T

               Year Quarter  Month DayofMonth DayOfWeek FlightDate Carrier  Origin OriginCityName OriginState    Dest DestCityName DestState CRSDepTime  DepTime DepDelay DepDelayMinutes DepDel15 DepartureDelayGroups DepTimeBlk  TaxiOut WheelsOff WheelsOn   TaxiIn CRSArrTime  ArrTime ArrDelay ArrDelayMinutes ArrDel15 ArrivalDelayGroups ArrTimeBlk Cancelled CancellationCode CRSElapsedTime ActualElapsedTime  AirTime Distance CarrierDelay WeatherDelay NASDelay SecurityDelay LateAircraftDelay FirstDepTime TotalAddGTime LongestAddGTime Company
Type          int64   int64  int64      int64     int64     object  object  object         object      object  object       object    object      int64  float64  float64         float64  float64              float64     object  float64   float64  float64  float64      int64  float64  float64         float64  float64            float64     object   float64           object        float64           float64  float64  float64      float64      float64  float64       float64           float64      float64       float64         float64  object
Value_Counts      1       2      6         31         7        181      11      20             20          17      20           20        17       1210     1414      883             852        2                   15         19      167      1417     1440      160       1339     1440      937             856        2                 15         19         2                4            379               466      407      180          704          409      456            88               532         1154           188             179      11
isNullNo          0       0      0          0         0          0       0       0              0           0       0            0         0          0     8817     8822            8822     8822                 8822          0     9055      9055     9199     9199          0     9199    10459           10459    10459              10459          0         0           697903              1             10459    10459        0       548068       548068   548068        548068            548068       702068        702068          702068       0
isnullRatio       0       0      0          0         0          0       0       0              0           0       0            0         0          0     1.25     1.25            1.25     1.25                 1.25          0     1.28      1.28      1.3      1.3          0      1.3     1.48            1.48     1.48               1.48          0         0            98.72              0              1.48     1.48        0        77.52        77.52    77.52         77.52             77.52        99.31         99.31           99.31       0

<div class="span2 alert alert-info">
<h1>FIXING DATETIME FORMAT</h1>

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> We have __FlightDate__ and __CRSDepTime (Scheduled Departure Time)__, __CRSArrTime (Scheduled Arrival Time)__ columns with date and time information in our dataframe. First we will convert FlightDate to __datetime object__ and then we will create `FlightDate_Dest` because date may change when the airplane lands on the destination due to time zone difference and flight duration. Then we will create a flight DATETIME at origin (`FlightDateTime_Origin`) and destination (`FlightDateTime_Dest`) </span>

In [520]:
## Changing FlightDate column to datetime object
merged.FlightDate = pd.to_datetime(merged.FlightDate)

In [521]:
def create_datetime_column(date_column, time_column):
    '''This function creates new datetime of flights columns at Origin and Destination'''
    
    new_col = list()
    time_column[(time_column == 2400)] = 0
    for row in range(len(date_column)):
        temp_Date = date_column[row]
        temp_Time = time_column[row]
        temp_TimeFormatted = datetime.strptime(str(temp_Time).zfill(4), "%H%M")
        temp_Hour = temp_TimeFormatted.hour
        temp_Min = temp_TimeFormatted.minute
        new_col.append(temp_Date + pd.DateOffset(hour = temp_Hour, minute = temp_Min))
    return new_col

In [522]:
## Creating new FligtDateTime_Origin column from FlightDate and CRSDepTime columns
merged['FlightDateTime_Origin'] = create_datetime_column(merged.FlightDate, merged.CRSDepTime)

In [523]:
## Creating a new column for the Destination the Date is being checked whether changing or not at Destination due to time zone and flight elapsed time
merged["FlightDate_Dest"] = np.where((merged.CRSArrTime - merged.CRSDepTime) > 0, 
                                    pd.DatetimeIndex(merged.FlightDate) + pd.DateOffset(0),
                                    pd.DatetimeIndex(merged.FlightDate) + pd.DateOffset(1))

In [524]:
merged[["FlightDate", "Origin", "Dest", "CRSDepTime", "CRSArrTime", "FlightDate_Dest"]][merged.CRSDepTime > 2300].head(10) ## To show the date change at the destination we chose 2300 as a flight start time.

     FlightDate Origin Dest  CRSDepTime  CRSArrTime FlightDate_Dest
175  2017-01-02    PHX  SEA        2340         144      2017-01-03
176  2017-01-03    PHX  SEA        2340         144      2017-01-04
1923 2017-01-14    SEA  CLT        2359         749      2017-01-15
1930 2017-01-21    SEA  CLT        2359         749      2017-01-22
1937 2017-01-28    SEA  CLT        2359         749      2017-01-29
2987 2017-01-01    SFO  ORD        2355         603      2017-01-02
2988 2017-01-02    SFO  ORD        2355         603      2017-01-03
2989 2017-01-03    SFO  ORD        2355         603      2017-01-04
2990 2017-01-04    SFO  ORD        2355         603      2017-01-05
2991 2017-01-05    SFO  ORD        2355         603      2017-01-06

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> As seen from the above table, flight date is changing at destiantion.

In [525]:
## To create FlightDateTime_Dest form FlightDate and CRSArrTime columns
merged['FlightDateTime_Dest'] = create_datetime_column(merged.FlightDate_Dest, merged.CRSArrTime)

In [526]:
merged['Flight_Hour'] = merged.FlightDateTime_Origin.dt.hour

<div class="span2 alert alert-info">
<h1>CHANGING DATA TYPE</h1>

In [527]:
## Float type of Cancelled column converted into integer
merged.Cancelled = merged.Cancelled.astype(int)

<span style="color: green; font-family: Babas; font-size: 1.6em;">__Adding Some Extra Information to DataFrame__

In [528]:
##  Adding Month Name
month_dict={
    1:  '01-January',
    2:  '02-February',
    3:  '03-March',
    4:  '04-April',
    5:  '05-May',
    6:  '06-June',
    7:  '07-July',
    8:  '08-August',
    9:  '09-September',
    10: '10-October',
    11: '11-November',
    12: '12-December'
}
merged['MonthName'] = merged['Month'].map(lambda m: month_dict[m])

## Adding Day of the week name
dow_dict = {
    1: 'Monday',
    2: 'Tuesday',
    3: 'Wednesday',
    4: 'Thursday',
    5: 'Friday',
    6: 'Saturday',
    7: 'Sunday'
}
merged['DayOfWeekName'] = merged['DayOfWeek'].map(lambda d:dow_dict[d])

<div class="span2 alert alert-info">
<h1>SPLITTING TRAIN AND TEST SET</h1>

In [529]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(merged, test_size=0.2, random_state=33)
print(train_set.shape)
print(test_set.shape)
#X = merged.drop(['Cancelled'], axis=1) ## Train set 
#y = pd.DataFrame(merged.Cancelled)

(565584, 52)
(141397, 52)

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> `80%` of data is `train_set` & `20%` of data is hold as `test_set`

In [530]:
test_set.reset_index(drop=True).head()

   Year  Quarter  Month  DayofMonth  DayOfWeek FlightDate Carrier Origin       OriginCityName OriginState Dest     DestCityName DestState  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  WheelsOff  WheelsOn  TaxiIn  CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes  ArrDel15  ArrivalDelayGroups ArrTimeBlk  Cancelled CancellationCode  CRSElapsedTime  ActualElapsedTime  AirTime  Distance  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  FirstDepTime  TotalAddGTime  LongestAddGTime                    Company FlightDateTime_Origin FlightDate_Dest FlightDateTime_Dest  Flight_Hour    MonthName DayOfWeekName
0  2017        1      1          26          4 2017-01-26      B6    MCO          Orlando, FL          FL  LAX  Los Angeles, CA        CA        1903   1956.0      53.0             53.0       1.0                   3.0  1900-1959     23.0     2019.0    2259.0    13.0        2137   2312.0      95.0             95.0       1.0                 6.0  2100-2159          0              NaN           334.0              376.0    340.0    2218.0          14.0           0.0      42.0            0.0               39.0           NaN            NaN              NaN        JetBlue Airways: B6   2017-01-26 19:03:00      2017-01-26 2017-01-26 21:37:00           19   01-January      Thursday
1  2017        1      2          25          6 2017-02-25      DL    FLL  Fort Lauderdale, FL          FL  DTW      Detroit, MI        MI        1806   1757.0      -9.0              0.0       0.0                  -1.0  1800-1859     18.0     1815.0    2043.0     9.0        2114   2052.0     -22.0              0.0       0.0                -2.0  2100-2159          0              NaN           188.0              175.0    148.0    1127.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN   Delta Air Lines Inc.: DL   2017-02-25 18:06:00      2017-02-25 2017-02-25 21:14:00           18  02-February      Saturday
2  2017        1      1          16          1 2017-01-16      DL    SEA          Seattle, WA          WA  MCO      Orlando, FL        FL        2245   2330.0      45.0             45.0       1.0                   3.0  2200-2259     22.0     2352.0     740.0     6.0         711    746.0      35.0             35.0       1.0                 2.0  0700-0759          0              NaN           326.0              316.0    288.0    2554.0           0.0           0.0       0.0            0.0               35.0           NaN            NaN              NaN   Delta Air Lines Inc.: DL   2017-01-16 22:45:00      2017-01-17 2017-01-17 07:11:00           22   01-January        Monday
3  2017        1      3           8          3 2017-03-08      UA    BOS           Boston, MA          MA  EWR       Newark, NJ        NJ         800    754.0      -6.0              0.0       0.0                  -1.0  0800-0859     11.0      805.0     857.0    17.0         930    914.0     -16.0              0.0       0.0                -2.0  0900-0959          0              NaN            90.0               80.0     52.0     200.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  United Air Lines Inc.: UA   2017-03-08 08:00:00      2017-03-08 2017-03-08 09:30:00            8     03-March     Wednesday
4  2017        1      3           5          7 2017-03-05      OO    SFO    San Francisco, CA          CA  MSP  Minneapolis, MN        MN        1806   1758.0      -8.0              0.0       0.0                  -1.0  1800-1859     15.0     1813.0    2317.0     9.0        2359   2326.0     -33.0              0.0       0.0                -2.0  2300-2359          0              NaN           233.0              208.0    184.0    1589.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  SkyWest Airlines Inc.: OO   2017-03-05 18:06:00      2017-03-05 2017-03-05 23:59:00           18     03-March        Sunday

<div class="span2 alert alert-info">
<h1>HANDLING WITH MISSING VALUES</h1>

In [531]:
# Function to calculate missing values by column
def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        
        # Print some summary information
        print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
            "There are " + str(mis_val_table_ren_columns.shape[0]) +
              " columns that have missing values.")
        
        # Return the dataframe with missing information
        return mis_val_table_ren_columns

In [532]:
missing_values_table(train_set)

Your selected dataframe has 52 columns.
There are 25 columns that have missing values.

                      Missing Values  % of Total Values
LongestAddGTime               561633               99.3
TotalAddGTime                 561633               99.3
FirstDepTime                  561633               99.3
CancellationCode              558285               98.7
LateAircraftDelay             438493               77.5
SecurityDelay                 438493               77.5
NASDelay                      438493               77.5
WeatherDelay                  438493               77.5
CarrierDelay                  438493               77.5
ArrivalDelayGroups              8414                1.5
AirTime                         8414                1.5
ActualElapsedTime               8414                1.5
ArrDel15                        8414                1.5
ArrDelayMinutes                 8414                1.5
ArrDelay                        8414                1.5
ArrTime                         7402                1.3
TaxiIn                          7402                1.3
WheelsOn                        7402                1.3
WheelsOff                       7280                1.3
TaxiOut                         7280                1.3
DepDelay                        7100                1.3
DepartureDelayGroups            7100                1.3
DepDel15                        7100                1.3
DepDelayMinutes                 7100                1.3
DepTime                         7100                1.3

<span style="color: blue; font-family: Babas; font-size: 1.2em;">Although we want to be careful to not discard information and should be careful when dropping columns, if a column has a high percentage of missing values, then it probably will not be of much use. Before starting filling the missing values some columns have more than 50% missing values and they don't give us much information so we will dorp them.</span>

In [533]:
dropped_columns = list()

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __Dropping Columns with More Than 50% Missing Values__

In [534]:
# Get the columns with > 50% missing
missing_df = missing_values_table(train_set);
missing_columns = list(missing_df[missing_df['% of Total Values'] > 50].index)
print('We will remove %d columns.' % len(missing_columns))

Your selected dataframe has 52 columns.
There are 25 columns that have missing values.
We will remove 9 columns.

In [535]:
# We will add those columns to drop later
dropped_columns = dropped_columns + list(missing_columns)

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> TotalAddGTime, LongestAddGTime, FirstDepTime, CancellationCode, LateAirCraftDelay, SecurityDelay, NASDelay, CarrierDelay, WeatherDelay columns will be dropped

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __Checking Duplicating Values__</span>

In [447]:
print(train_set.duplicated().sum())

0

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> There is no dublicating value in our dataset. It is good.</span>

In [448]:
time_columns = ['CRSDepTime','DepTime','DepDelay', 'DepDelayMinutes','TaxiOut', 'WheelsOff', 'WheelsOn','TaxiIn','CRSArrTime','ArrTime','ArrDelay', 
                'ArrDelayMinutes','CRSElapsedTime', 'ActualElapsedTime', 'AirTime', 'Cancelled']

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __DepDel15, DepDelay, DepartureDelayGroups (Depature Delay Informations)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">Those columns also give us information linked with `DepDelayMinutes` so we can drop those columns.</span>

In [449]:
dropped_columns.extend(['DepDel15', 'DepartureDelayGroups', 'DepDelay'])

<span style="color: green; font-family: Babas; font-size: 1.6em;">__DepDelayMinutes (Departure Delay)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> Departure Delay shows flight delays in minutes. We will get mean of Cancelled flights to fill missing values for Cancelled flights.

In [450]:
train_set[train_set['Cancelled']==1]['DepDelayMinutes'].isnull().sum()

7100

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> As wee see, all missing DepDelayMinutes belongs to cancelled flights. We can get the `mean of DepDelayMinutes` of cancelled flight and impute the missing values with it

In [451]:
DepDelayMinutes_fill = train_set[train_set['Cancelled']==1]['DepDelayMinutes'].mean()
DepDelayMinutes_fill

94.37185929648241

In [452]:
train_set['DepDelayMinutes'] = train_set['DepDelayMinutes'].fillna(DepDelayMinutes_fill)

In [453]:
train_set['DepDelayMinutes'].isnull().sum()

0

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> We have no missing value for DepDelayMinutes anymore

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __WheelsOff, WheelsOn,  TaxiIn,  AirTime, ArrTime, ArrDelayMinutes, ArrDel15,  ArrivalDelayGroups, ActualElapsedTime, CRSDepTime, CRSArrTime__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">Those columns also give us information regarding `actual happened flights` so they are not related to predict cancellation, too. We can __drop__ those columns.</span>

In [454]:
## We can drop those columns
dropped_columns.extend(['ActualElapsedTime','AirTime', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'ArrTime','ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'CRSDepTime','CRSArrTime'])

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __TaxiOut__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> TaxiOut shows elapsed time in minutes on the gateway before taking off delays in minutes. Some flights may have cancelled after the airliner spend some time on gateway. We will get `mean of TaxiOut time` for Cancelled flights to fill missing values for Cancelled flights.

In [455]:
train_set[train_set['Cancelled']==1]['TaxiOut'].isnull().sum()

7280

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> All missing values belong to Cancelled flights

In [456]:
TaxiOut_fill = train_set[train_set['Cancelled']==1]['TaxiOut'].mean()
TaxiOut_fill

28.263157894736842

In [457]:
train_set['TaxiOut'] = train_set['TaxiOut'].fillna(TaxiOut_fill)

In [458]:
train_set[train_set['Cancelled']==1]['TaxiOut'].isnull().sum()

0

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> We have no missing value for TaxiOut anymore

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __CRSElapseTime__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">We have `1 missing value` in this column. We can drop this row.</span>

In [459]:
test_set.CRSElapsedTime.isnull().sum()

1

In [460]:
## We discard the single missing value row of CRSElaspsedTime 
test_set = test_set[~pd.isnull(test_set.CRSElapsedTime)]

In [461]:
train_set.reset_index(drop=True).head(2)

   Year  Quarter  Month  DayofMonth  DayOfWeek FlightDate Carrier Origin     OriginCityName OriginState Dest     DestCityName DestState  CRSDepTime  DepTime  DepDelay  DepDelayMinutes  DepDel15  DepartureDelayGroups DepTimeBlk  TaxiOut  WheelsOff  WheelsOn  TaxiIn  CRSArrTime  ArrTime  ArrDelay  ArrDelayMinutes  ArrDel15  ArrivalDelayGroups ArrTimeBlk  Cancelled CancellationCode  CRSElapsedTime  ActualElapsedTime  AirTime  Distance  CarrierDelay  WeatherDelay  NASDelay  SecurityDelay  LateAircraftDelay  FirstDepTime  TotalAddGTime  LongestAddGTime                    Company FlightDateTime_Origin FlightDate_Dest FlightDateTime_Dest  Flight_Hour MonthName DayOfWeekName
0  2017        1      3          30          4 2017-03-30      VX    SFO  San Francisco, CA          CA  LAX  Los Angeles, CA        CA         800    756.0      -4.0              0.0       0.0                  -1.0  0800-0859     41.0      837.0     932.0     6.0         925    938.0      13.0             13.0       0.0                 0.0  0900-0959          0              NaN            85.0              102.0     55.0     337.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN         Virgin America: VX   2017-03-30 08:00:00      2017-03-30 2017-03-30 09:25:00            8  03-March      Thursday
1  2017        2      4           2          7 2017-04-02      UA    DTW        Detroit, MI          MI  DEN       Denver, CO        CO        1535   1533.0      -2.0              0.0       0.0                  -1.0  1500-1559     11.0     1544.0    1631.0     8.0        1653   1639.0     -14.0              0.0       0.0                -1.0  1600-1659          0              NaN           198.0              186.0    167.0    1123.0           NaN           NaN       NaN            NaN                NaN           NaN            NaN              NaN  United Air Lines Inc.: UA   2017-04-02 15:35:00      2017-04-02 2017-04-02 16:53:00           15  04-April        Sunday

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __Year__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">Year information is the same for all rows so it does not give us any spesific information. We can drop it.

In [462]:
dropped_columns.extend(['Year'])
#merged.drop(['Year'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __OriginCityName, OriginState, DestCityName, DestState__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">We have already location information for both Origin and Destination. So those are redundant information and we can drop them.

In [463]:
dropped_columns.extend(['OriginCityName', 'OriginState', 'DestCityName', 'DestState'])
#merged.drop(['OriginCityName', 'OriginState', 'DestCityName', 'DestState'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __DepTimeBlk, ArrTimeBlk (Departure  Time Block, Arrival  Time Block)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> Those columns does not give us any spesific information as well. We can drop them too.

In [464]:
dropped_columns.extend(['DepTimeBlk', 'ArrTimeBlk'])
#merged.drop(['DepTimeBlk', 'ArrTimeBlk'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __DepDelay (Departure Delay)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;">It is linked with `DepDelayMinutes` and we will keep DepDelayMinutes so we will drop it.

In [465]:
dropped_columns.extend(['DepDelay'])
#merged.drop(['DepDelay'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __DepTime (Departure Time)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> We have created `FlightDateTime_Origin` column contains the same information so we can drop it

In [466]:
dropped_columns.extend(['DepTime'])
#merged.drop(['DepTime'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __ArrDelay (Arrival Delay)__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> It happens in case of non-Cancelled flight and there is no data for Cancelled flights so we can drop it as well

In [467]:
dropped_columns.extend(['ArrDelay'])
#merged.drop(['ArrDelay'], axis=1, inplace=True)

<span style="color: green; font-family: Babas; font-size: 1.6em;"> __Dropping Columns__

In [468]:
train_set.shape

(565584, 52)

In [469]:
## We don't need Flight Date and 'FlightDate_Dest any more
dropped_columns.extend(['FlightDate', 'FlightDate_Dest'])

In [470]:
train_set.drop(dropped_columns, axis=1, inplace=True)

In [471]:
train_set.shape

(565584, 18)

In [472]:
missing_values_table(train_set)

Your selected dataframe has 18 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

<span style="color: blue; font-family: Babas; font-size: 1.2em;">We have no missing data for training set any more

<span style="color: rgb(49,112,143); font-family: Babas; font-size: 1.8em;">__Dropping Unnecessary Columns__

<span style="color: blue; font-family: Babas; font-size: 1.2em;"> We will drop Quater, Month, DayofMonth, DayOfWeek, Flight_Hour columns. Most of them already converted into categorical values and we will use them in our model.

In [326]:
train_set.head()

        Quarter  Month  DayofMonth  DayOfWeek Carrier Origin Dest  DepDelayMinutes  TaxiOut  Cancelled  CRSElapsedTime                     Company FlightDateTime_Origin FlightDateTime_Dest  Flight_Hour   MonthName DayOfWeekName PartOfWeek PartOfMonth PartOfDay  Average_Speed
694436        1      3          30          4      VX    SFO  LAX              0.0     41.0          0            85.0          Virgin America: VX   2017-03-30 08:00:00 2017-03-30 09:25:00            8    03-March      Thursday    weekday      second      most     237.882353
524560        2      4           2          7      UA    DTW  DEN              0.0     11.0          0           198.0   United Air Lines Inc.: UA   2017-04-02 15:35:00 2017-04-02 16:53:00           15    04-April        Sunday    weekend       first      most     340.303030
20719         1      1          26          4      AA    LAX  ORD              0.0     24.0          0           253.0  American Airlines Inc.: AA   2017-01-26 23:50:00 2017-01-27 06:03:00           23  01-January      Thursday    weekday      second      less     413.596838
146361        2      6           4          7      AA    DFW  SFO             28.0     24.0          0           221.0  American Airlines Inc.: AA   2017-06-04 22:05:00 2017-06-04 23:46:00           22     06-June        Sunday    weekend       first      less     397.466063
409876        2      6          26          1      NK    DFW  ORD              3.0     20.0          0           151.0        Spirit Air Lines: NK   2017-06-26 16:49:00 2017-06-26 19:20:00           16     06-June        Monday    weekday      second      most     318.675497

In [327]:
train_set.drop(['Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Flight_Hour', 'Company', 'FlightDateTime_Origin', 'FlightDateTime_Dest', 'MonthName', 'DayOfWeekName'], axis=1, inplace=True)

In [328]:
## Saving those columns to drop for test_set
dropped_columns.extend(['Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'Flight_Hour', 'Company', 'FlightDateTime_Origin', 'FlightDateTime_Dest', 'MonthName', 'DayOfWeekName'])

<span style="color: rgb(49,112,143); font-family: Babas; font-size: 1.8em;">__Transforming/ Scaling & Encoding__

First, we need to perform the transformation on CRSElapsedTime that was discussed earlier. The transformed values will be stored in a new column called "CRSElapsedTime_transform".

In [329]:
from sklearn.preprocessing import StandardScaler, LabelBinarizer

train_set_transf = train_set.copy()

# Assigning Target Column for Train Set
train_set_target = train_set['Cancelled']

#Droping Target Column
train_set.drop(['Cancelled'], axis=1, inplace=True)

# Select the numeric columns
numeric_subset = train_set.select_dtypes('number')

In [330]:
# Select the categorical columns
categorical_subset = train_set[['Carrier', 'Origin', 'Dest', 'PartOfMonth', 'PartOfWeek', 'PartOfDay']]

numeric_subset.reset_index(drop=True).head()
#train_set[numeric_subset] = train_set.apply(lambda x : StandardScaler().fit_transform(x))

   DepDelayMinutes  TaxiOut  CRSElapsedTime  Average_Speed
0              0.0     41.0            85.0     237.882353
1              0.0     11.0           198.0     340.303030
2              0.0     24.0           253.0     413.596838
3             28.0     24.0           221.0     397.466063
4              3.0     20.0           151.0     318.675497

In [331]:
categorical_subset.reset_index(drop=True).head()

  Carrier Origin Dest PartOfMonth PartOfWeek PartOfDay
0      VX    SFO  LAX      second    weekday      most
1      UA    DTW  DEN       first    weekend      most
2      AA    LAX  ORD      second    weekday      less
3      AA    DFW  SFO       first    weekend      less
4      NK    DFW  ORD      second    weekday      most

In [334]:
#DataFrameMapper
from sklearn_pandas import DataFrameMapper

mapper = DataFrameMapper([(list(numeric_subset.columns), StandardScaler()),
                          ('Carrier', LabelBinarizer()),
                          ('Origin', LabelBinarizer()),
                          ('Dest', LabelBinarizer()),
                          ('PartOfMonth', LabelBinarizer()),
                          ('PartOfWeek', LabelBinarizer()),
                          ('PartOfDay', LabelBinarizer()),], df_out=True)                      
                         
output_df = mapper.fit_transform(train_set)

In [351]:
output_df = pd.DataFrame(output_df)
output_df.head()

,DepDelayMinutes_TaxiOut_CRSElapsedTime_Average_Speed_0,DepDelayMinutes_TaxiOut_CRSElapsedTime_Average_Speed_1,DepDelayMinutes_TaxiOut_CRSElapsedTime_Average_Speed_2,DepDelayMinutes_TaxiOut_CRSElapsedTime_Average_Speed_3,Carrier_AA,Carrier_AS,Carrier_B6,Carrier_DL,Carrier_EV,Carrier_F9,Carrier_NK,Carrier_OO,Carrier_UA,Carrier_VX,Carrier_WN,Origin_ATL,Origin_BOS,Origin_BWI,Origin_CLT,Origin_DEN,Origin_DFW,Origin_DTW,Origin_EWR,Origin_FLL,Origin_IAH,Origin_JFK,Origin_LAS,Origin_LAX,Origin_MCO,Origin_MSP,Origin_ORD,Origin_PHX,Origin_SEA,Origin_SFO,Origin_SLC,Dest_ATL,Dest_BOS,Dest_BWI,Dest_CLT,Dest_DEN,Dest_DFW,Dest_DTW,Dest_EWR,Dest_FLL,Dest_IAH,Dest_JFK,Dest_LAS,Dest_LAX,Dest_MCO,Dest_MSP,Dest_ORD,Dest_PHX,Dest_SEA,Dest_SFO,Dest_SLC,PartOfMonth,PartOfWeek,PartOfDay_few,PartOfDay_less,PartOfDay_most
694436,-0.369442,2.282569,-1.189610,-1.426383,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
524560,-0.369442,-0.775298,0.190132,-0.030760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
20719,-0.369442,0.549777,0.861687,0.967969,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
146361,0.252863,0.549777,0.470964,0.748165,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
409876,-0.302767,0.142062,-0.383743,-0.325465,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [352]:
#train_set_transformed = pd.DataFrame(output_df)
column_name = ['DepDelayMinutes','TaxiOut','CRSElapsedTime','Average_Speed','Carrier_AA',\
               'Carrier_AS','Carrier_B6','Carrier_DL','Carrier_EV','Carrier_F9','Carrier_NK','Carrier_OO','Carrier_UA','Carrier_VX','Carrier_WN','Origin_ATL',\
               'Origin_BOS','Origin_BWI','Origin_CLT','Origin_DEN','Origin_DFW','Origin_DTW','Origin_EWR','Origin_FLL','Origin_IAH','Origin_JFK','Origin_LAS',\
               'Origin_LAX','Origin_MCO','Origin_MSP','Origin_ORD','Origin_PHX','Origin_SEA','Origin_SFO','Origin_SLC','Dest_ATL','Dest_BOS','Dest_BWI','Dest_CLT',\
               'Dest_DEN','Dest_DFW','Dest_DTW','Dest_EWR','Dest_FLL','Dest_IAH','Dest_JFK','Dest_LAS','Dest_LAX','Dest_MCO','Dest_MSP','Dest_ORD','Dest_PHX','Dest_SEA',\
               'Dest_SFO','Dest_SLC', 'PartOfMonth', 'PartOfWeek', 'PartOfDay_few', 'PartOfDay_less', 'PartOfDay_most']

In [353]:
train_set_transformed= output_df

In [354]:
train_set_transformed.columns=column_name

In [355]:
train_set_transformed = train_set_transformed.reset_index(drop=True)
train_set_transformed.head()

   DepDelayMinutes   TaxiOut  CRSElapsedTime  Average_Speed  Carrier_AA  Carrier_AS  Carrier_B6  Carrier_DL  Carrier_EV  Carrier_F9  Carrier_NK  Carrier_OO  Carrier_UA  Carrier_VX  Carrier_WN  Origin_ATL  Origin_BOS  Origin_BWI  Origin_CLT  Origin_DEN  Origin_DFW  Origin_DTW  Origin_EWR  Origin_FLL  Origin_IAH  Origin_JFK  Origin_LAS  Origin_LAX  Origin_MCO  Origin_MSP  Origin_ORD  Origin_PHX  Origin_SEA  Origin_SFO  Origin_SLC  Dest_ATL  Dest_BOS  Dest_BWI  Dest_CLT  Dest_DEN  Dest_DFW  Dest_DTW  Dest_EWR  Dest_FLL  Dest_IAH  Dest_JFK  Dest_LAS  Dest_LAX  Dest_MCO  Dest_MSP  Dest_ORD  Dest_PHX  Dest_SEA  Dest_SFO  Dest_SLC  PartOfMonth  PartOfWeek  PartOfDay_few  PartOfDay_less  PartOfDay_most
0        -0.369442  2.282569       -1.189610      -1.426383         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0          1.0         0.0            0.0             0.0             1.0
1        -0.369442 -0.775298        0.190132      -0.030760         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0          0.0         1.0            0.0             0.0             1.0
2        -0.369442  0.549777        0.861687       0.967969         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0          1.0         0.0            0.0             1.0             0.0
3         0.252863  0.549777        0.470964       0.748165         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0          0.0         1.0            0.0             1.0             0.0
4        -0.302767  0.142062       -0.383743      -0.325465         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0          1.0         0.0            0.0             0.0             1.0

<div class="span2 alert alert-info">
<h1>PREPROCESSING TEST SET</h1>

<span style="color: rgb(49,112,143); font-family: Babas; font-size: 1.8em;">__Adding New Column & Imputing__

In [358]:
## Assigning test set target
test_set_target = test_set['Cancelled']

## Adding a new column which has already been added to Train set, so we will do the same for test set
test_set['Average_Speed'] = (test_set['Distance']/(test_set['CRSElapsedTime']/60))

## Adding PartOfMonth column which has already been added to Train set
test_set['PartOfMonth'] = test_set['DayofMonth'].map(lambda x: 'first' if x < 16 else 'second')

## Adding PartOfWeek column which has already been added to Train set
test_set['PartOfWeek'] = test_set['DayOfWeek'].map(lambda x : 'weekday' if x <= 5 else 'weekend')

## Adding PartOfDay column which has already been added to Train set
test_set['PartOfDay'] = test_set['Flight_Hour'].map(lambda x: 'most' if ((x >=6) and (x < 21)) else 'few' if ((x > 1) and (x < 6))  else 'less')

In [359]:
## Impting missing values with Train_set mean for TaxiOut column
test_set['TaxiOut'] = test_set['TaxiOut'].fillna(TaxiOut_fill)

## Impting missing values with Train_set mean for DepDelayMinutes column
test_set['DepDelayMinutes'] = test_set['DepDelayMinutes'].fillna(DepDelayMinutes_fill)

missing_values_table(test_set)

Your selected dataframe has 56 columns.
There are 23 columns that have missing values.

                      Missing Values  % of Total Values
LongestAddGTime               140434               99.3
TotalAddGTime                 140434               99.3
FirstDepTime                  140434               99.3
CancellationCode              139618               98.7
LateAircraftDelay             109574               77.5
SecurityDelay                 109574               77.5
NASDelay                      109574               77.5
WeatherDelay                  109574               77.5
CarrierDelay                  109574               77.5
AirTime                         2044                1.4
ActualElapsedTime               2044                1.4
ArrivalDelayGroups              2044                1.4
ArrDel15                        2044                1.4
ArrDelayMinutes                 2044                1.4
ArrDelay                        2044                1.4
ArrTime                         1796                1.3
TaxiIn                          1796                1.3
WheelsOn                        1796                1.3
WheelsOff                       1775                1.3
DepDelay                        1722                1.2
DepartureDelayGroups            1722                1.2
DepDel15                        1722                1.2
DepTime                         1717                1.2

<span style="color: rgb(49,112,143); font-family: Babas; font-size: 1.8em;">__Dropping Columns & Splitting Into Numeric and Categoric __

In [360]:
#We drop redundant columns which are defined through train_set
test_set.drop(dropped_columns, axis=1, inplace=True)

#Droping Target Column
test_set.drop(['Cancelled'], axis=1, inplace=True)

# Select the numeric columns
numeric_subset = test_set.select_dtypes('number')

# Select the categorical columns
categorical_subset = test_set[['Carrier', 'Origin', 'Dest', 'PartOfMonth', 'PartOfWeek', 'PartOfDay']]

numeric_subset.reset_index(drop=True).head()

   DepDelayMinutes  TaxiOut  CRSElapsedTime  Average_Speed
0             53.0     23.0           334.0     398.443114
1              0.0     18.0           188.0     359.680851
2             45.0     22.0           326.0     470.061350
3              0.0     11.0            90.0     133.333333
4              0.0     15.0           233.0     409.184549

<span style="color: rgb(49,112,143); font-family: Babas; font-size: 1.8em;">__Transforming/ Scaling & Encoding__

In [361]:
output_df2 = mapper.transform(test_set)

In [362]:
test_set_transformed = pd.DataFrame(output_df2)

In [363]:
test_set_transformed.columns=column_name

In [364]:
test_set_transformed = test_set_transformed.reset_index(drop=True)

   DepDelayMinutes   TaxiOut  CRSElapsedTime  Average_Speed  Carrier_AA  Carrier_AS  Carrier_B6  Carrier_DL  Carrier_EV  Carrier_F9  Carrier_NK  Carrier_OO  Carrier_UA  Carrier_VX  Carrier_WN  Origin_ATL  Origin_BOS  Origin_BWI  Origin_CLT  Origin_DEN  Origin_DFW  Origin_DTW  Origin_EWR  Origin_FLL  Origin_IAH  Origin_JFK  Origin_LAS  Origin_LAX  Origin_MCO  Origin_MSP  Origin_ORD  Origin_PHX  Origin_SEA  Origin_SFO  Origin_SLC  Dest_ATL  Dest_BOS  Dest_BWI  Dest_CLT  Dest_DEN  Dest_DFW  Dest_DTW  Dest_EWR  Dest_FLL  Dest_IAH  Dest_JFK  Dest_LAS  Dest_LAX  Dest_MCO  Dest_MSP  Dest_ORD  Dest_PHX  Dest_SEA  Dest_SFO  Dest_SLC  PartOfMonth  PartOfWeek  PartOfDay_few  PartOfDay_less  PartOfDay_most
0         0.808493  0.447849        1.850705       0.761479         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0          1.0         0.0            0.0             0.0             1.0
1        -0.369442 -0.061796        0.068031       0.233290         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0          1.0         1.0            0.0             0.0             1.0
2         0.630691  0.345920        1.753024       1.737376         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0          1.0         0.0            0.0             1.0             0.0
3        -0.369442 -0.775298       -1.128559      -2.851007         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0          0.0         0.0            0.0             0.0             1.0
4        -0.369442 -0.367583        0.617485       0.907846         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         0.0         1.0         0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       0.0       1.0       0.0       0.0       0.0       0.0       0.0          0.0         1.0            0.0             0.0             1.0